<% content_for :page_title, @review.title %>

<h1><%= @review.title %></h1>
<h2><%= @review.restaurant %></h2>

<% if is_logged_in? %>

   <p>

        <% if @review.bookmarks.where(user: @current_user).any? %>
            <%= link_to "UnBookmark", review_bookmark_path(@review), method: :delete %>
        <% else %>
            <%= link_to "Bookmark", review_bookmark_path(@review), method: :post %>
        <% end %>
   </p>

<% end %>

<h3>Bookmarked by...</h3>
<ul>
    <% @review.bookmarks.each do |bookmark| %>
        <li><%= bookmark.user.username %></li>
    <% end %>
</ul>




<div class="score">
    <p><%= @review.score %> / 10</p>
</div>

<div class="user">
    <p>Posted By: 
        <%if @review.user.present? %>
            <%= link_to @review.user.username, user_path(@review.user) %>
        <%else%>
            Anonymous
        <%end%>
    </p>
</div>

<% if @review.ambience.present? %>
    <div class="ambience">
        <p><%= @review.ambience %></p> 
    </div>
<% end %>

<% if @review.price.present? %>
    <div class="price">
        <p><%= @review.price %></p> 
    </div>
<% end %>

<% if @review.cuisine.present? %>
    <div class="cuisine">
        <p><%= @review.cuisine %></p> 
    </div>
<% end %>

<div class="body">
    <%= simple_format @review.body %>
</div>

<% if @review.user == @current_user %>
<div class="actions">
    <%= link_to "Edit this Review", edit_review_path(@review) %>
    <%= link_to "Delete Review", review_path(@review), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<% end %>

<h3>Comments</h3>

<% @review.comments.order('created_at desc').each do |comment| %>
    <div class="comment">
        <%# <%= simple_format ProfanityFilter::Base.clean(comment.body, 'hollow') %>
        <%# moved profanity filter to the model %>
        <%= simple_format comment.body %>
        
        <p class="posted">Posted By: 
        <% if comment.user.present? %>
            <%= link_to comment.user.username, user_path(comment.user) %>
        <% else %>
            Anonymous
        <% end %>
        </p>

        <p class="posted">Posted at: <%= time_ago_in_words comment.created_at %> ago</p>
    </div>
<% end %>


<h3>Add a comment</h3>

<%= simple_form_for [@review, Comment.new] do |f| %>
    <%= f.input :body, label: "Type your comment here" %>
    <%= f.button :submit, "Comment" %>
<% end %>
