<!DOCTYPE html>
<html>
  <head>
    <title>Bien Revies – Bien reviews the best restaurants in the world</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
      </h1>

      <h2>Bien reviews the best restaurants in the world</h2>
      <nav>
        <%= link_to "Add a Review", new_review_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
      Copyright 2022 @ James Wood
    </footer>
  </body>
</html>
